@page
@model firmness.Pages.SalesDetails.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SaleDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaleDetail.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SaleDetail.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaleDetail.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SaleDetail.UnitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaleDetail.Sale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SaleDetail.Sale.SaleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaleDetail.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SaleDetail.Product.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="SaleDetail.SaleDetailId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
