@page
@model firmness.Pages.SalesDetails.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SaleDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaleDetail.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SaleDetail.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaleDetail.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SaleDetail.UnitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaleDetail.Sale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SaleDetail.Sale.SaleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaleDetail.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SaleDetail.Product.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SaleDetail.SaleDetailId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
